{% load static %}

<div class="related-widget-wrapper" data-model-ref="Country">
    <div class="selector">

        <div style="height: 200px; overflow-y: auto;" id="test-21">
            <td class="field-selected_source">
                <select name="restriction_game-__prefix__-selected_source"
                    id="id_restriction_game-__prefix__-selected_source">
                    {% for game in games_select %}
                    <option value="{{ game.id }}" title="{{ game.name }}">{{ game.name }}</option>
                    {% endfor %}
                </select>
            </td>
        </div>

        <div style="height: 200px; overflow-y: auto;" id="test-22">
            <ul id="game-list">
                {% for game in all_games %}
                <p data-target="{{ game.id }}">{{ game.name }}</p>
                {% endfor %}
            </ul>
        </div>


    </div>
</div>






<script>
    var csrf_token = "{{ csrf_token }}";
</script>
<script src="{% static 'app_casinos/js/my_js/test3.js' %}"></script>