<tbody>


  <tr class="form-row has_original dynamic-restriction_country" id="restriction_country-0">
    <td class="original">
      <input type="hidden" name="restriction_country-0-id" value="1" id="id_restriction_country-0-id">
      <input type="hidden" name="restriction_country-0-bonus" value="bonus-1" id="id_restriction_country-0-bonus">
    </td>

    <td class="field-country">
      <div class="related-widget-wrapper" data-model-ref="Country">
        <div class="selector">

          <div class="selector-available">
            <h2>Available country <span class="help help-tooltip help-icon"
                title="This is the list of available country. You may choose some by selecting them in the box below and then clicking the &quot;Choose&quot; arrow between the two boxes."></span>
            </h2>
            <p id="id_restriction_country-0-country_filter" class="selector-filter">
              <label for="id_restriction_country-0-country_input">
                <span class="help-tooltip search-label-icon"
                  title="Type into this box to filter down the list of available country.">
                </span>
              </label>
              <input type="text" placeholder="Filter" id="id_restriction_country-0-country_input">
            </p>
            <select name="restriction_country-0-country_old"
              aria-describedby="id_restriction_country-0-country_helptext" id="id_restriction_country-0-country_from"
              multiple="" class="filtered" data-field-name="country" data-is-stacked="0">
              <option value="250" title="Åland Islands | Aland Islands | None">Åland Islands | Aland Islands | None
              </option>
              <option value="136" title="Albania | Albania2 | Albania3">Albania | Albania2 | Albania3</option>
              <option value="29" title="Algeria | None | None">Algeria | None | None</option>
              <option value="203" title="American Samoa | None | None">American Samoa | None | None</option>
              <option value="131" title="Armenia | None | None">Armenia | None | None</option>
              <option value="191" title="Aruba | None | None">Aruba | None | None</option>
              <option value="227" title="Ascension Island | None | None">Ascension Island | None | None</option>
              <option value="49" title="Australia | None | None">Australia | None | None</option>
              <option value="94" title="Austria | None | None">Austria | None | None</option>
              <option value="84" title="Azerbaijan | None | None">Azerbaijan | None | None</option>
              <option value="173" title="Bahamas | None | None">Bahamas | None | None</option>
            </select>
            
            <a title="Click to choose all country at once." href="#"
              id="id_restriction_country-0-country_add_all_link" class="selector-chooseall active">Choose all
            </a>
          </div>

          <ul class="selector-chooser">
            <li><a title="Choose" href="#" id="id_restriction_country-0-country_add_link"
                class="selector-add">Choose</a></li>
            <li><a title="Remove" href="#" id="id_restriction_country-0-country_remove_link"
                class="selector-remove">Remove</a></li>
          </ul>

          <div id="id_restriction_country-0-country_selector_chosen" class="selector-chosen">
            <h2>Chosen country <span class="help help-tooltip help-icon"
                title="This is the list of chosen country. You may remove some by selecting them in the box below and then clicking the &quot;Remove&quot; arrow between the two boxes."></span>
            </h2>
            <p id="id_restriction_country-0-country_filter_selected" class="selector-filter">
              <label for="id_restriction_country-0-country_selected_input">
                <span class="help-tooltip search-label-icon"
                  title="Type into this box to filter down the list of selected country.">
                </span>
              </label>
              <input type="text" placeholder="Filter" id="id_restriction_country-0-country_selected_input">
            </p>
            <select id="id_restriction_country-0-country_to" multiple="" size="0" name="restriction_country-0-country"
              class="filtered">
              <option value="194" title="Andorra | None | None">Andorra | None | None</option>
              <option value="36" title="Angola | None | None">Angola | None | None</option>
              <option value="213" title="Anguilla | None | None">Anguilla | None | None</option>
              <option value="233" title="Antarctica | None | None">Antarctica | None | None</option>
              <option value="238" title="Antigua and Barbuda | Antigua &amp; Barbuda | None">Antigua and Barbuda |
                Antigua &amp; Barbuda | None</option>
              <option value="28" title="Argentina | None | None">Argentina | None | None</option>
            </select>

            <div class="list-footer-display"><span id="id_restriction_country-0-country_list-footer-display-text">0
                selected options not visible</span><span class="list-footer-display__clear"> (click to clear)</span>
            </div>
            <button type="button" class="btn-info-filter"
              data="id_restriction_country-0-country_selector_chosen">CHOSEN COUNTRY Count (6)
            </button>
            <a
              title="Click to remove all chosen country at once." href="#"
              id="id_restriction_country-0-country_remove_all_link" class="selector-clearall active">Remove all
            </a>
          </div>
        </div>

        <a class="related-widget-wrapper-link add-related" id="add_id_restriction_country-0-country" data-popup="yes"
          href="/admin/app_casinos/country/add/?_to_field=id&amp;_popup=1" title="Add another Country"><img
            src="/static/admin/img/icon-addlink.svg" alt="" width="20" height="20"></a>

      </div>
    </td>
  </tr>

  <tr class="form-row empty-form" id="restriction_country-empty">
    <td class="original">
      <input type="hidden" name="restriction_country-__prefix__-id" id="id_restriction_country-__prefix__-id">
      <input type="hidden" name="restriction_country-__prefix__-bonus" value="bonus-1"
        id="id_restriction_country-__prefix__-bonus">
    </td>

    <td class="field-country">
      <div class="related-widget-wrapper" data-model-ref="Country">
        <select name="restriction_country-__prefix__-country"
          aria-describedby="id_restriction_country-__prefix__-country_helptext"
          id="id_restriction_country-__prefix__-country" multiple="" class="selectfilter" data-field-name="country"
          data-is-stacked="0">
          <option value="250">Åland Islands | Aland Islands | None</option>

          <option value="136">Albania | Albania2 | Albania3</option>

          <option value="29">Algeria | None | None</option>

          <option value="203">American Samoa | None | None</option>
        </select>
        <a class="related-widget-wrapper-link add-related" id="add_id_restriction_country-__prefix__-country"
          data-popup="yes" href="/admin/app_casinos/country/add/?_to_field=id&amp;_popup=1"
          title="Add another Country"><img src="/static/admin/img/icon-addlink.svg" alt="" width="20" height="20"></a>
      </div>
    </td>

    <td class="field-selected_source">
      <select name="restriction_country-__prefix__-selected_source"
        id="id_restriction_country-__prefix__-selected_source">
        <option value="undefined">Undefined</option>
        <option value="terms_and_conditions">Terms &amp; Conditions</option>
        <option value="support">Support</option>
        <option value="website">Website</option>
        <option value="common_sense">Common Sense</option>
      </select>
    </td>
  </tr>
  <tr class="add-row">
    <td colspan="3" style="display: none;"><a href="#">Add another Bonus restriction country</a></td>
  </tr>
</tbody>