{% extends "admin/change_form.html" %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'app_casinos/css/admin/admin.css' %}">
{% endblock %}


{% block field_sets %}
    <div class="submit-row">
        <button type="button" class="nav-button-casino" data-target="casino">CASINO</button>
        <button type="button" class="nav-button-affiliates" data-target="affiliate-set">AFFILIATES</button>

        <button type="button" class="nav-button-bonus" data-target="bonuses-group">BONUS</button>
        <button type="button" class="nav-button-loyalty" data-target="loyalty_program-group">LOYALTY PROGRAM</button>
    </div>

  {% for fieldset in adminform %}
      {% include "admin/fieldset.html" %}
  {% endfor %}


<!--<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>-->
<script src="{% static 'app_casinos/js/admin/admin3.js' %}"></script>
<script src="{% static 'app_casinos/js/admin/navigation_buttons.js' %}"></script>
<script src="{% static 'app_casinos/js/admin/management_of_admin_casino_blocks.js' %}"></script>
{% endblock %}
