{% extends "admin/change_form.html" %}

{% block field_sets %}
  <p>{{ adminform.fieldsets.0.0 }}</p>

  <div class="submit-row">
    <button type="button" class="show-all-button default">
      Show All
    </button>
    {% for fieldset in adminform %}
      {% if forloop.counter0 < 2 %}
        <button type="button" class="nav-button default" data-target="{{ fieldset.name|slugify }}">
          {{ fieldset.name }}
        </button>
      {% endif %}
    {% endfor %}
  </div>

  {% for fieldset in adminform %}
    <div id="{{ fieldset.name|slugify }}" class="form-fieldset">
      {% include "admin/fieldset.html" %}
    </div>
  {% endfor %}
{% endblock %}


