
.inline-group {
    max-height: 300px;
    overflow-y: auto;
}

.custom-button {
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  display: block;
  margin-bottom: 10px;
}

.custom-button:hover {
  background-color: #45a049;
}

#file-input {
  display: none;
}

/*id_game_providers, #id_classic_currency, #id_crypto_currencies, #id_payment_methods */
/* Добавляет внутренний скролл к полю autocomplete */
#id_games,  {
    max-height: 200px; /* Задайте максимальную высоту поля */
    overflow-y: auto; /* Добавляет внутренний скролл, если содержимое превышает максимальную высоту */
}

.readonly textarea {
    max-height: 200px; /* Задайте максимальную высоту поля */
    overflow-y: auto; /* Добавляет внутренний скролл, если содержимое превышает установленную высоту */
}